.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

application/language/*
!application/language/indonesian

application/*
!application/config/
!application/controllers/
!application/core
!application/language
!application/models
!application/views

!application/*/.htaccess

composer.lock

system

user_guide
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
